[Unit]
Description=Refresh calendar events every 10 minutes

[Timer]
OnStartupSec=30s
OnUnitActiveSec=10min
Persistent=true
AccuracySec=30s

[Install]
WantedBy=timers.target
